/* boostrap mobile-first */

/* HEADER */

header{
    background-color: rgb(2, 39, 43);
    color: white;
}

/* HERO */

.hero{
    background-color: rgb(92, 199, 163);
    color: white;
}

.icon-hero i{
    color: rgb(231, 226, 74);
}


