/* boostrap mobile-first */

/* RESET */


/* HEADER */

header{
    background-color: rgb(44, 62, 80) ;
    color: white;
}

header ul li a{
    text-decoration: none;
    color: white;
}

header ul li a{
    font-size: 13px;
}

/* HERO */

.hero{
    background-color: rgb(92, 199, 163);
    color: white;
}

.hero__image img{
    max-width: 220px;
}

.icon-star{
    width: 500px;
    position: relative;
}

.icon-star::before{
    content: "";
    width: 60px;
    height: 2px;
    border-radius: 15px;
    background-color: white;
    position: absolute;
    top: 50%;
    left:calc(50% - 60px - 12px)
    
}

.icon-star::after{
    content: "";
    width: 60px;
    height: 2px;
    border-radius: 15px;
    background-color: white;
    position: absolute;
    top: 50%;
    right: (50% - 60px - 12px)
    
}





/* PORTFOLIO */

.icon-star-black{
    width: 500px;
    position: relative;
}

.icon-star-black::before{
    content: "";
    width: 60px;
    height: 2px;
    border-radius: 15px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: calc(50% - 60px - 12px)
}

.icon-star-black::after{
    content: "";
    width: 60px;
    height: 2px;
    border-radius: 15px;
    background-color: black;
    position: absolute;
    top: 50%;
    right: calc(50% - 60px - 12px)
    
}




/* ABOUT */

.about__us{
    background-color: rgb(92, 199, 163);
    color: white;
}

.about__us .btn__download{
    max-width: 130px;
    margin: auto;

}

.btn__download{
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
}

/* CONTACT-ME */

form input{
    margin-top: 7px;
    outline: none;
}

form input::placeholder{
    color: rgb(70, 68, 68);
}

form input[type=submit]{
    width: 50px;
    background-color: rgb(25, 188, 156);
    border: none;
    border-radius: 5px;
    color: white;
}

form textarea{
    border: none;
    outline: none;
}

form textarea::placeholder{
    color: rgb(70, 68, 68);
}

/* LOCATION */

.location{
    background-color: rgb(47, 65, 102);
    color: white;
}



.border__circle i{
    padding:7px;
    border: 1px solid white;
    border-radius: 50%;
    
}

/* FOOTER */

footer{
    background-color:rgb(39, 51, 76) ;
    color: white;
    font-size: 14px;
}

/* media query */

@media (max-width:620px){
    .icon-star{
        width: 100%;
        margin: auto;
    }


    .icon-star-black{
        width: 100%;
        margin: auto;
    }

   
}